<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bangkok BTS Fare Calculator</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center"> Bangkok BTS Fare Calculator</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h4>Where are you now?</h4>
            <select id="current_pos">
                <option value="0">- Select -</option>
                <option value="1">Mo Chit</option>
                <option value="2">Saphan Khwai</option>
                <option value="3">Sena Ruam</option>
                <option value="4">Ari</option>
                <option value="5">Sanam Pao</option>
                <option value="6">Victory Monument</option>
            </select>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h4>Where you will travel?</h4>
            <select id="target_pos">
                <option value="0">- Select -</option>
                <option value="1">Mo Chit</option>
                <option value="2">Saphan Khwai</option>
                <option value="3">Sena Ruam</option>
                <option value="4">Ari</option>
                <option value="5">Sanam Pao</option>
                <option value="6">Victory Monument</option>
            </select>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>